/* #experience {
	height: 70vh;
} */

.experience__container {
	display: grid;
	grid-template-columns: 1.2fr 1fr;
	gap: 1.4rem;
}

.experience__container > div {
	background: var(--color-bg-variant);
	padding: 2rem 2rem;
	border-radius: 2rem;
	border: 1px solid transparent;
	transition: var(--transition);
}

.experience__container > div:hover {
	background: transparent;
	border-color: var(--color-primary-variant);
	cursor: default;
}

.experience__container > div h3 {
	text-align: center;
	margin-bottom: 2rem;
	color: var(--color-primary);
}

.experience__content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 2rem;
}
.experience__frontend .experience__content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 2rem;
}

/* .experience__details {
	display: flex;
	flex-direction: column;
	gap: 1rem;
} */

.experience__devicon {
	/* margin-top: 6px; */
	color: var(--color-primary);
}

.experience__name-icon {
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: flex-start;
	padding: 0 1rem;
}

/* .experience__level {
	display: flex;
	gap: 2rem;
	align-items: center;
} */

/*------Media queries (MD devices)------*/
@media screen and (max-width: 1024px) {
	.experience__container {
		grid-template-columns: 1fr;
	}

	.experience__container > div {
		width: 80%;
		padding: 2rem;
		margin: 0 auto;
	}

	.experience__content {
		padding: 1rem;
	}
}

/*------Media queries (SM devices)------*/
@media screen and (max-width: 600px) {
	.experience__container {
		gap: 1rem;
	}

	.experience__container > div {
		width: 100%;
		padding: 1rem 0.2rem;
	}

	.experience__name-icon {
		gap: 1rem;
		align-items: center;
		justify-content: flex-start;
		padding: 0 1rem;
	}

	.experience__frontend .experience__content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: 1rem;
	}
}
